@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
    font-family: "Mulish" , sans-serif;
}
/*header*/

header{
    padding: 55px;
    padding-bottom: 0;
}

nav.menu{
    display: flex;
    align-items: center;
}   
nav.menu  a {
 text-decoration: none;
 color: #333;
 transition: 300ms;
}

nav.menu a:hover{
    color: #458ff6;
}

a.menu_logo{
    display: flex;
    align-items: center;
    margin-right: auto;
    text-indent: 20px;
}
.menu_link,
.menu_link-active{
    padding: 10px;
    margin: 10px;
}

.menu_link-active {
    font-weight: bold;
}
/* welcome */
.welcome{
    padding: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}
 
.welcome_text{
    max-width: 450px;

}

.welcome_header{
    font-size: 48px;
    margin-bottom: 20px;

}
.welcome_img{
    max-width: 500px;
}

 .welcome_button{
    margin-top: 20px;
    display: inline-block;
    padding: 20px 60px;
    background-color: #458ff8;
    color: #fff;
    border-radius: 55px; 
    transition: 300ms; 
}

.welcome_button:hover{
    background-color: #fff;
    color: #458ff8;
    border: 1px solid #458ff8;
    
}

/*our_services*/

.our_services{
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
 margin-bottom: 120px;  
     background-color: #d8e8ff;
    background-position:  45%;
}

.our_services p {
    color: #7d7987;
    font-weight: 300;
    font-size: 16px;
}

.our_services_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
}

.our_services_top h1 {
    padding: 20px;
    margin: 20px;
    border-bottom: 2px solid #333 ;
}

.our_services_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service_card{
    width: 350px;
    padding: 40px;
    margin: 35px;
    box-shadow: 10px 40px 50px rgba(126, 125, 125, 0.4);
    border-radius: 20px;
    background-color: #fff;
}
.service_card:hover{
    transform: scale(1.1);
    transition: 300ms;
    box-shadow: 10px 40px 50px rgba(0, 0, 0, 0.4);
}
.service_card img{
    margin-bottom: 20px;
}

.more-btn {
    padding: 20px 50px;
    border-radius: 55px;
    color:#458ff8;
    text-decoration: none;
    border: 1px solid #458ff8;
    display: inline-block;
    margin-top: 37px;
    transition: 300ms;
}
.more-btn img{
    margin-left: 10px;
}
.more-btn:hover {
    background: #458ff6;
     transition: 0.6s all ease;
     color: #fff;
}
/*info & download*/
.info,
.download{
    padding: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;
}

.info_image,
.download_img{
    max-width: 500px;
}

.info_text,
.download_text{
    max-width: 450px;
}

.info_text h1,
.download_text h1 {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
}

/*Latest articles*/

.latest_articles{
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 120px;
}

.la_top {
    text-align: center;
    max-width: fit-content;
    border-bottom: 2px solid #333;
    padding: 20px;
    margin-bottom: 40px;
}

.la_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article_card{
    width: 350px;
    border-radius: 20px;
    margin: 33px;
    background-color: #fff;
    box-shadow: 10px 40px 50px rgba(139, 135, 135, 0.4);
    
}
.article_card:hover{
    transform: scale(1.1);
    transition: 300ms;
    box-shadow: 10px 40px 50px rgba(0, 0, 0, 0.4);
}

.article_card img{
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
}

.article_card_text {
    padding: 33px;
}

 .article_card_text h3 {
    margin-bottom: 20px;
 }

 .article_card_text p {
    font-size: 16px;
    font-weight: 300;
 }

 .article_link{
    margin-top: 20px;
    display: inline-block;
    color: #458ff8;
    text-decoration: none;
     
}  

.article_link img {
    margin-left: 10px;
}

/*video*/

.video{
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:  120px; ;
}

.video_top h1 {
    border-bottom: 2px solid #333;
    padding: 10px;
    margin-bottom: 40px;
    
}

.video_content iframe{
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    min-height: 450px ;
    min-width: 800px;
    box-shadow: 10px 40px 50px rgba(104, 103, 103, 0.4);
}
.video_content iframe:hover{
    transform: scale(1.1);
    transition: 300ms;
    box-shadow: 10px 40px 50px rgba(0, 0, 0, 0.4);
}
/*pricing*/

.pricing{
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}

.pricing_top{
    border-bottom: 2px solid #333;
    padding: 20px;
    margin-bottom: 40px;
}

.pricing_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline; 
    
}

.pricing_card{
    padding: 60px;
    margin: 55px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 10px 40px 50px rgba(0, 0, 0, 0.4);
}

.pricing_card:hover{
    transform: scale(1.1);
    transition: 300ms;
    box-shadow: 10px 40px 50px rgba(0, 0, 0, 0.4);
}
.pricing_card p{
    font-size: 20px;
    font-weight: 300;
    color: #777;

}

.pricing_number{
    font-size: 48px;
    font-weight: 700;

}

.pricing_card ul{
    margin: 50px;
    margin-left: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 300;
}

.pricing_card .more-btn{
    margin-top: 10px;
}

.premium_card{
    border: 1px solid #fb9bd2;

}

.premium_card ul li img,
.pricing_card ul li{
    margin-right: 10px;

}

.premium-btn,
.pricing_card{
    padding: 20px 60px ;
    display: inline-block;
    border-radius: 55px;
    text-decoration: none;
    font-weight: 700;
    color: #fb9bd2;
    border: 1px solid #fb9bd2;
    box-shadow: 0px 0px 20px 1px rgba(251 , 155,210 ,0.15);
    margin-top: 15px;
    cursor: pointer;
    transition: 300ms;
}

.premium-btn:hover{
    background-color: #fb9bd2;
    color: #fff;
    transition: 0.6s all ease;
}

/* contact */

.contact {
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_top{
    border-bottom: 2px solid #333;
    padding: 20px;
    margin-bottom: 40px;
}

.contact_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(251, 155, 210, 0.15);
}

.input_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input_group label{
    font-size: 16px;
    color: #458ff6;
    padding: 10px 0;
    padding-top: 30px;
}
.input_group input{
    padding: 10px;
    font-family: "Mulish" , sans-serif;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #458ff6;
}

.input_group input::placeholder {
    color: #999;
}

.input_group button[type="submit"]{
    margin: 30px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fb9bd2;
    border: 1px solid #fb9bd2;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    transition: 300ms;
    display: flex;
    align-items: center;
}

.input_group button[type="submit"] img{
    margin-left: 10px;
}

.input_group button[type="submit"]:hover{
    background-color: #fff;
    color: #fb9bd2;
}
 
/*Footer*/

footer{
    padding: 55px;
    background: linear-gradient(180deg, #67c3f3 , #5a98f2 80%);
    color: #fff;
    font-weight: 300;
   display: flex; 
   align-items: center;
   justify-content: space-evenly; 
}

.footer_left{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.footer_logo{
    display: flex;
    align-items: center;
    text-indent: 10px;
}

.footer_left p {
    margin: 30px 0;
}

.footer_right {
    display: flex;
}

.footer_list{
    padding: 10px;
    margin: 10px;
}

.footer_list p{
    font-weight: bold;
    padding: 20px 0;
}

 .footer_list ul {
    list-style: none;
 }

 .footer_list ul li a {
    color: #fff;
    display: block;
    padding: 15px 20px;
    padding-left: 0;
    text-decoration: none;
 }

 .footer_list ul li a:hover{
    text-decoration: underline;
 }
 

 /*адаптация*/

@media (max-width:768px){
    header ,
    .welcome , .our_services, .download , .video , .pricing , .contact {
        padding: 30px;
        margin-bottom: 60px;
    }

    nav.menu {
        margin: auto;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
    }

    nav.menu a {
        margin: 5px 0px;
        padding: 15px 40px;
        border: 1px solid #458ff6;
        border-radius: 55px;
        width: 100%;
    }

    nav.menu a:first-child {
        border: none;
    }

    .welcome {
        flex-direction: column;
    }

    .welcome_img{
        max-width: 100%;
    }

    .info, .download{
        flex-direction: column-reverse;
    }

    .info_image , .dowmload_img {
        max-width: 100%;
    }

    .video_content iframe {
        min-width: 300px;
        min-height: 280px;
    }

    .contact_form{
        padding: 20px 20px;
    }

    footer {
        flex-direction: column;
    }
}

@media (max-width:576px) {
    .service_card, .article_card{
        width: 300px;
    }

    .article_card img{
      max-width: 100%;
    }

    .footer_right{
        flex-direction: column;
    }
}